.footer {
    position: absolute;
    line-height: 60px;
    text-align: center;
    background: #9fa6a6;
    margin: 20px;
}

.header {
    color: #33cccc;
}

.navbar-brand {
    background: #33cccc;
    padding: 15px;
}

/* .carousel-item {
    width: 1000px;
    height: 600px;
} */

ul li {
    list-style: none;
}

/* .carousel-inner img {
    width: 75px;
} */

.figure img {
    width: 500px;
    height: 500px;
}